@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

body {
  background-color: var(--color-background);
  color: var(--color-dark);
  width: 100vw;
  height: 100vh;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.card {
  background-color: var(--color-white);
  padding: 3rem 2rem;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

.card:hover{
  box-shadow: none;
}

.light-mode-variables {
  --color-white: #fff;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-background: #f6f6f9;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.profile-avatar:hover{
  cursor: pointer;
}